* {
text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}


.container {
    display: flex;
    margin: 0;
}

.side-left {
    width: 40%;
}

.side-right {
    margin: 10px 0px 0px 10px;
    width: 58%;
    height: 30.75vw;
    background-color: white;
    border: 7px solid;
    border-color: grey;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
}


.side-right p {
    display: flex;
    align-items: left; 
    justify-content: left;
}

.side-right h2{
    text-align: center;
    font-size: 32px;
}

.side-right p {
    padding: 20px;
    font-size: 41px;
    text-align: left;
}

.side-right img {
    align-items: right;
    transform: scale(0.9);
}

.nav_bar_main,
.personal {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav_bar_main {
    justify-content: center;
    flex-grow: 1;
}

.nav_bar_main li {
    padding: 5px; 
}

.nav_bar_main button:hover {
    cursor: pointer;
    background-color:lightgray; 
    color:grey;
}

.nav_bar_main a {
    text-decoration: none;
    color: black; 
}

.nav_bar_main h4 {
    font-size: 18px;
}

.personal img {
    height: 50px; 
    width: auto;
}

.nav_bar_main button {
    background-color: grey;
    color: white;
    border-radius: 10px;
    border: none;
    width: 25vw;
    height: 4vw;
    padding: 0px;
}

h1 {
    font-size: 50px;
}

.carousel_container {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.carousel_item {
    flex: 0 0 20%; 
    margin-right: 5px; 
}

.carousel_item a {
    text-decoration: none;
    color: black;
}

.carousel_item button {
    background-color: lightblue;
    width: 20vw; 
    padding: 20px; 
    font-size: 18px; 
    border: none; 
    border-radius: 10px; 
}

.carousel_item:hover button {
    background-color: navy;
    color: lightblue;
    cursor: pointer;
}

.carousel_container::-webkit-scrollbar {
    display: none;
}

.carousel_container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.side_buttons {
    display: block;
    background-color: #FFD580;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 10vw;
}

.side_buttons:hover {
    cursor: pointer;
    color: #FFD580;
    background-color: orange;
}

.info {
    display: inline-flex;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

.info p{
    display: inline;
}

.personal_info {
    height: 10vw;
}

input {
    margin-bottom: 5px;
}


.submit input:hover {
    cursor: pointer;
}

#message {
    padding: 10px;
    margin-top: 20px;
    font-size: 45px;
    color: green; 
    text-align: center;
    background-color: #f4f4f4; 
    border-radius: 10px; 
    display: none;
}

#message2 {
    padding: 10px;
    margin-top: 20px;
    font-size: 45px;
    color: green; 
    text-align: center;
    background-color: #f4f4f4; 
    border-radius: 10px; 
    display: none; 
}

#message3 {
    padding: 10px;
    margin-top: 20px;
    font-size: 45px;
    color: green; 
    text-align: center;
    background-color: #f4f4f4; 
    border-radius: 10px; 
    display: none;
}


.side-right-history th, .side-right-history td {
    border: 1px solid #cccccc;
    padding: 2px;
    text-align: left;
}

.side-right-history th {
    background-color: #dddddd;
}

#history_table {
    display: block;    
    overflow-y: auto;   
    overflow-x: hidden;
    border: 7px solid;
    border-color: grey;
    border-radius: 10px;  
    /* margin: 0px 0px 0px 10px; */
    margin: 0;
    width: 101%;
    height: 30.75vw;
}

.side-left-history {
    width: 60vw;
    margin: 0;
}

#history_table th {
    width: 20vw;
}

.side-right-history th, .side-right-history td {
    text-align: left; 
    padding: 8px; 
}

.side-right-history h2 {
    margin: 0; 
    padding-bottom: 10px;
    color: grey; 
}


.history_table_header th {
    font-size: 22px; 
}


.side-right-history td:not(h2) {
    color: black;
    font-size: 18px;
}

legend {
    color: black;
    font-weight: bolder;
    font-size: 24px;
}

fieldset {
    background-color: lightgray;
    border-radius: 10px;
    height: 10vw;
}


fieldset label {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

#submit_profile {
    font-size: 20px;
    background-color: lightblue;
    border-radius: 10px;
    width: 20vw;
    height: 5vw;
}

#submit_payment {
    font-size: 20px;
    background-color: lightblue;
    border-radius: 10px;
    width: 20vw;
    height: 5vw;
}

iframe {
    border-radius: 10px;
}

#side-right-delivery {
    margin: 10px 0px 0px 10px;
    width: 58%;
    height: 30.75vw;
    background-color: white;
    border: 7px solid;
    border-color: grey;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#place_order_button {
    font-size: 20px;
    background-color: lightblue;
    border-radius: 10px;
    width: 20vw;
    height: 5vw;
}


.food_options table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

.food_options th, .food_options td {
    padding: 10px;
    text-align: center;
    border: 1px solid #cccccc;
}

.food_options th {
    background-color: #dddddd;
    color: black;
    font-size: 18px;
}

.food_options td {
    font-size: 16px;
}

.food_options tr:nth-child(even) {
    background-color: #f2f2f2;
}


.food_options .options_table_header th {
    background-color: #bbbbbb;
    font-size: 20px;
    text-transform: uppercase;
}


.food_options button {
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.food_options button:hover {
    background-color: lightgray;
    color: black;
}


.food_options input[type="number"] {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


section table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

section th, section td {
    padding: 10px;
    text-align: center;
    border: 1px solid #cccccc;
}

section th {
    background-color: #dddddd;
    color: black;
    font-size: 18px;
}

section td {
    font-size: 16px;
}

section tr:nth-child(even) {
    background-color: #f2f2f2;
}

section .options_table_header th,
section .summary-table th {
    background-color: #bbbbbb;
    font-size: 20px;
    text-transform: uppercase;
}


section button {
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section button:hover {
    background-color: lightgray;
    color: black;
}

section input[type="number"] {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
}